
<div class="signup_area">
    <h1>Slackに画像をアップロードしよう！</h1>

    <% if !logged_in? %>
    <%= link_to 'サインアップ', signup_path, class: 'signup_link' %>
    <% else %>
        <% if is_slack_linked? %>
            <%= form_for(:upload, url: slack_upload_path, html: { id: 'upload_form' }) do |f| %>          
                <div class="photo_preview_area">
                    <div id="photo_preview">
                        <div class="photo_preview_text">Drag&Drop</div>
                        <div>
                            <label for="photo_select">
                                または、ファイルを選択
                                <%= f.file_field :photo, id: 'photo_select', accept: 'image/png,image/jpegpara' %>
                            </label>
                        </div>
                        <div class="photo_preview_img">
                            <div class="photo_preview_img_container">
                                <img src="" alt="" id="photo_preview_img_data">
                                <span id="photo_preview_img_close"></span>
                            </div>
                        </div>
                    </div>
               </div>
                <div id="slack_channel_area">
                    <% if @slack_channel_list&.any? %>
                        <%= f.select :slack_channel_id, options_from_collection_for_select(@slack_channel_list, 'id', 'name') %>
                    <% end %>
                </div>
                <%= f.submit 'Upload', class: 'upload_button' %>
            <% end %>
        <% else %>
            <%= link_to 'Slack連携', slack_oauth_path, class: 'signup_link' %>
        <% end %>
    <% end %>
</div>
