
<div class="signup_area">
    <h1>Slackに画像をアップロードしよう！</h1>

    <% if !logged_in? %>
    <%= link_to 'サインアップ', signup_path, class: 'signup_link' %>
    <% else %>
        <% if is_slack_linked? %>
            <div class="photo_preview_area">
                <div id="photo_preview">
                    <div class="photo_preview_text">Drag&Drop</div>
                </div>
            </div>
            <div id="slack_channel_area">
                <% if @slack_channel_list&.any? %>
                    <%= form_for(:welcome, url: '/create') do |f| %>          
                        <%= select_tag :slack_channel_id, options_from_collection_for_select(@slack_channel_list, 'id', 'name') %>
                    <% end %>
                <% end %>
            </div>
            <%= link_to 'Upload', slack_oauth_path, class: 'signup_link' %>
        <% else %>
            <%= link_to 'Slack連携', slack_oauth_path, class: 'signup_link' %>
        <% end %>
    <% end %>
</div>
