<!DOCTYPE html>
<html>
  <head>
    <title>SlackUploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <app-header :logged_in="<%= logged_in? %>"></app-header>
      <div id="main">
        <div class="container">
          <% flash.each do |k, v| %>
            <div class='<%= "alert-#{k}" %>'><%= "#{v}".html_safe %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <app-footer></app-footer>
      <%= render 'layouts/loading' %>
    </div>
      
    <script>
      window.job_id = "<%= @status_check_job_id %>" 
    </script>
    <%= javascript_pack_tag 'app' %>
  </body>
</html>
